[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
pylint = "*"
black = "*"
pytest = "*"
faker = "*"
pytest-asyncio = "*"
freezegun = "*"
isort = "*"
sqlalchemy-stubs = "*"

[packages]
uvicorn = {extras = ["standard"], version = "*"}
fastapi = {extras = ["all"], version = "*"}
alembic = "*"
sqlalchemy = "*"
rich = "*"
typer = "*"
arrow = "*"
fastapi-boilerplate = {path = "."}
passlib = {extras = ["argon2"], version = "*"}
pydantic = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
